 <div class= "container">
 <h2 class="text-center pt-3 mb-3">おすすめのキャンプ場を投稿する</h2>
  <div class=row>
      <% @camps.each do |camp| %>
        <div class="bg col-3 ml-5 rounded mb-3 ">
        　<div class="btn btn-success btn-sm active ml-n4 mt-3 rounded-pill">
          #<%= camp.camp_area%></div>
          <div class="btn btn-success btn-sm active mt-3 rounded-pill">
          #<%= camp.category %></div><br>
          <div class="h4 mt-3 mb-n4">
          <%= camp.name %></div><br>
          <% if camp.image.attached? %>
    　　　<%= image_tag camp.image, size: "250x200" %>
　　　　　<% else %>
    　　　<%= image_tag 'no_image', size: "250x200" %>
　　　　　<% end %><br>
          <%= camp.body.truncate(25)%><br>
         <%= link_to "もっとみる", camp_path(camp.id),class: "btn btn-sm btn-primary" %><br>
    　　</div>
     　 <% end %>
 </div>
</div>