<div class="container">
    <h1>みんなの投稿一覧</h1>
  <div class="row">
    <div class="card" style="width: 18rem;">
      <div class="card-group">
      <% @camps.each do |camp| %>
          <% if camp.image.attached? %>
    　　　<%= image_tag camp.image, size: "450x180",class:"bd-placeholder-img card-img-top" %>
　　　　　<% else %>
    　　　<%= image_tag 'no_image', size: "400x180" %>
　　　　　<% end %>
　　　　<div class="card-body">
         キャンプ場：<%= camp.name %></br>
         エリア：<%= camp.camp_area %></br>
         キャンプの種類：<%= camp.category %></br>
         説明：<%= camp.body %></br>
         ユーザーネーム：<%= camp.user.name %></br>
         <%= link_to "詳細へ", camp_path(camp.id),class: "btn btn-sm btn-primary" %>
      <% end %>
     </div>
   </div>
 </div>
  </div>
</div>