 <div class= "container">
 <h2 class="text-center pt-3 mb-3">みんなのおすすめキャンプ場</h2>
  <div class="row justify-content-center">
     <%= search_form_for @q do |f| %>
    <%= f.label :name_cont, 'キャンプ場検索' %>
    <%= f.search_field :name_cont %>
    <%= f.submit %>
 　　<% end %>
   <% @camps.each do |camp| %>
    <div class="col-8 ">
     <div class="card mb-3">
      <div class="d-flex flex-row">
      　<div>
          <div class="btn btn-info btn-sm mt-3">#<%= camp.camp_area%><br></div>
          <div class="btn btn-info btn-sm mt-3">#<%= camp.category %></div>
          <div class="h2 mt-2"><%= camp.name %><br></div>
          <div><p class="btn btn-warning btn-sm">おすすめポイント</p><br>
          <%= camp.body.truncate(30)%><br>
          </div>
          <div><%= link_to "もっとみる", camp_path(camp.id),class:"btn btn-primary btn-sm mb-3"%></div>
        </div>
        <% if camp.image.attached? %>
　　　　<%= image_tag camp.image,  size: "350x200",class:"mt-3 "%>
　　　　<% else %>
        <%= image_tag 'no_image.jpg', size: "300x200",class:"mt-3" %>
　　　　<% end %>
       </div>
      </div>
    </div>
     <% end %>
 </div>
</div>
