<div class="container ">
   
   <div class="row btn btn-secondary btn-sm rounded-pill mt-3">　
   <p><%=@camp.category %></p>
   </div>  
   <div class="row h2 font-weight-bold mt-5">
   <div class="col-10">
   キャンプ場：<%= @camp.name %>
   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right" viewBox="0 0 16 16">
   <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
   </svg>
   <%= @camp.camp_comments.count%>
   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
   <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
   <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
   </svg>
   <%= @camp.favorites.count %>
   </div>
   <div class="col justify-content-end">
       <% if @camp.favorited_by?(current_user) %>
    <p>
      <%= link_to camp_favorites_path(@camp), method: :delete,class: "btn btn-sm btn-danger" do %>
        ブックマークから外す
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to camp_favorites_path(@camp), method: :post,class: "btn btn-sm btn-info" do %>
        ブックマーク
      <% end %>
    </p>
  <% end %>
   </div>
   </div>
   
   <div class="row h2 font-weight-bold">
   <div class="col-10">
   <p>エリア：<%= @camp.camp_area%></p>
   </div>
   
   <div class="col justify-content-end">
   <%= link_to 'キャン活を投稿', new_camp_path,class: "btn btn-sm btn-danger " %>
   </div>
   </div>
   
   <div class="row">
   <div class="col-10">
   <p>投稿日：<%= @camp.created_at.strftime('%Y/%m/%d') %></p>
   </div>
   <div class="col justify-content-end">
   <%= link_to '★★★★★', new_camp_path,class: "btn btn-sm btn-info" %>
   </div>
   </div>
   
   <div class="row">
   <div class="col-3 h6 shadow-lg mt-3">
   <div class="d-flex align-items-center justify-content-center">
   <% if @camp.user.profile_image.attached? %>
   <%= image_tag @camp.user.profile_image, size: "100x100",class: "rounded-circle mb-5 mt-5"%>
   <% else %>
   <%= image_tag 'no_image', size: "100x100" %>
   <% end %>
   </div>
   <p class="text-center" >ユーザー：<%= @camp.user.name%></p><br>
   <p class="text-center">ひとこと：<%= @camp.user.introduction %></p><br>
   <p class="text-center">行動範囲：<%= @camp.user.area %></p><br>
   <p class="text-center">キャンプレベル：<%= @camp.user.level %></p>
   </div>
   
   <div class="col-9">
   <% if @camp.image.attached? %>
   <%= image_tag @camp.image, size: "800x500" %>
　 <% else %>
   <%= image_tag 'no_image', size: "800x500" %>
　 <% end %>
　 </div>
　 </div>
   
   
   <div class="row">　
   <div class="col-12 shadow-lg ">
   <p class= "btn btn-sm btn-info mt-3">お気に入りポイント</p>
   <p> <%= @camp.body %></p>
   <div class = "text-right align-self-end mb-3" >
   <% if @camp.user == current_user %>
   <%= link_to "削除", camp_path(@camp), method: :delete,class: "btn btn-sm btn-danger " %>
   <% end %>
   </div>
   </div>
   </div>
　
　 <h2 class="text-center pt-3 mb-3">みんなからのコメント</h2>
  　<div class="row">
    <% @camp.camp_comments.each do |camp_comment| %>
    <div class="col-12 mb-3  pt-3 pb-3 border-bottom ">
    投稿ユーザー:<%= camp_comment.user.name %> / 投稿日:<%= camp_comment.created_at.strftime('%Y/%m/%d')%><br>
    <%= camp_comment.comment %>
    <div class = "text-right align-self-end" >
    <% if camp_comment.user == current_user %>
      <%= link_to "削除", camp_camp_comment_path(camp_comment.camp, camp_comment), method: :delete,class: "btn btn-sm btn-danger " %>
    <% end %>
    </div>
    </div>
    <% end %>
  </div>
  
  <div class="row pt-3"> 
  <%= form_with model: [@camp, @camp_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに",size: "130x5"%>
    <%= f.submit "送信する" %>
  <% end %>
  </div>
  
</div>
