<div class="container">
 <div class="row">
  <div class="col-9 mt-3">
   <div class=" play_count col justify-content-end h2">
    <%= render 'play_comments/count', play: @play %>
    <%= render 'play_favorites/count', play: @play %>
   </div>
  <h2 class="h2 mt-5"><%= @play.camp_play %>
  </div>
     <div class="col-2 text-center pt-4">
           <div class= "btn btn-sm btn-danger ml-3"> 
    <%= link_to "削除", play_path(@play), method: :delete, class: "text-white" %>
   </div>
   <% if @play.user.profile_image.attached? %>
   <%= image_tag @play.user.profile_image, size: "100x100",class: "rounded-circle"%>
   <% else %>
   <%= image_tag 'no_image.jpg', size: "100x100" %>
   <% end %><br>
   <p class="text-center" >ユーザー：<%= @play.user.name%></p>
   </div>
   <div id="play_favorite_buttons_<%= @play.id %>">
    <%= render 'play_favorites/favorite-btn', play: @play %>
   </div>
 </div>

 <div class="row justify-content-center">
    <% if @play.play_image.attached? %>
  　<%= image_tag @play.play_image,class:"bd-placeholder-img card-img-top"%>
　  <% else %>
    <%= image_tag 'no_image.jpg', size: "253x200"%>
　  <% end %>
 </div>
 <div class="row justify-content-center mt-3">
  <div class=col-11>
   <div class=h5>
    <p>ポイント</p>
   <%= @play.play_introduction %>
   </div>
  </div>
 </div>
 <h2 class="text-center pt-3 mb-3">みんなからのコメント</h2>
  <div id= "plays">
  <%= render 'play_comments/index', play: @play %>
  </div>
 <div class="form-group row mt-3">
   <%= render 'play_comments/form', play: @play, play_comment: @play_comment %>
 </div>
</div>