<div class="container">
 <div class="row">
  <div class="col-9 mt-3">
  <h2 class="h2 mt-5"><%= @play.camp_play %>
  </div>
     <div class="col-2 text-center pt-4">
   <% if @play.user.profile_image.attached? %>
   <%= image_tag @play.user.profile_image, size: "100x100",class: "rounded-circle"%>
   <% else %>
   <%= image_tag 'no_image', size: "100x100" %>
   <% end %><br>
   <p class="text-center" >ユーザー：<%= @play.user.name%></p>
   </div>
 </div>
 <div class="row justify-content-center">
    <% if @play.play_image.attached? %>
  　<%= image_tag @play.play_image,class:"bd-placeholder-img card-img-top"%>
　  <% else %>
    <%= image_tag 'no_image', size: "253x200"%>
　  <% end %>
 </div>
 <div class="row justify-content-center mt-3">
  <div class=col-11>
   <div class=h5>
    <p>ポイント</p>
   <%= @play.play_introduction %>
   </div>
  </div>
 </div>
   <h2 class="text-center pt-3 mb-3">みんなからのコメント</h2>
  　<div class="row">
   <% @play.play_comments.each do |play_comment| %>
  <div class="col-11 mb-3  pt-3 pb-3 border-bottom">
    投稿ユーザー:<%= play_comment.user.name %> / 投稿日<%= play_comment.created_at.strftime('%Y/%m/%d') %><br>
    <%= play_comment.comment %>
    <div class = "text-right align-self-end" >
       <% if play_comment.user == current_user %>
       <%= link_to "削除", play_play_comment_path(play_comment.play, play_comment), method: :delete,class: "btn btn-sm btn-danger " %>
       <% end %>
    </div>
  </div>
  <% end %>
 </div>
 <div class="form-group row mt-3">
  <div class="col-sm-12 col-form-label">
    <%= form_with model: [@play, @play_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに",class:"form-control"%>
    <%= f.submit "送信する",class:"mt-3" %>
    <% end %>
  </div>
 </div>
</div>
  
