<div class = container>
<div class = "row mb-3"> 
<div class = col-2>
</div>
<div class = col-8>
<h4 class= "text-center">不便で何もないからこそ味わえる魅力がキャンプにはある。</br>
   満天の星空の元での焚き火に、都会にはない自然の静けさ。</br>
   誰もが欲しがる心の安らぎがキャンプでは味わえます。</br>
   ソロキャンプはキャンプが好きな人々の情報共有サイトです。</p>
</div>
</div>
<div class = "row mb-3"> 
 登録がお済みでない方
 <%= link_to "新規登録", new_user_registration_path,class:"btn btn-primary btn-sm mx-auto"%>
 少し覗いてみたい方
 <%= link_to 'ゲストログイン（閲覧用）', homes_guest_sign_in_path, method: :post,class:"btn btn-success btn-sm mx-auto" %>
 登録済みの方
 <%= link_to "ログイン", new_user_session_path,class:"btn btn-success btn-sm mx-auto"%>
</div>
<div class = "row">
<div id="example-2" class="carousel slide" data-ride="carousel" style="width:1140px">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "top1.jpg" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "top2.jpg" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "top3.jpg" %>
    </div>
    <a class="carousel-control-prev" href="#example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</div>

<div class="card-group mb-3 mt-3">
    <div class="card" style="width: 18rem">
        <%= image_tag "img1.jpg",class:"card-img-top" %>
        <div class="card-body">
            <h5 class="card-title">みんなのキャン活を見る</h5>
            <p>ユーザーが投稿したキャン活を見ることができます</p>
            <%= link_to '一覧へ', camps_path,class:"btn btn-primary" %>
        </div>
    </div>
    <div class="card" style="width: 18rem">
        <%= image_tag "img4.jpg",class:"card-img-top" %>
        <div class="card-body">
            <h5 class="card-title">みんなのキャップ飯を見る</h5>
            <p>ユーザーが投稿したキャン飯を見ることができます</p>
            <%= link_to '一覧へ', foods_path,class:"btn btn-primary"%>
        </div>
    </div>
    <div class="card" style="width: 18rem">
        <%= image_tag "img5.jpg",class:"card-img-top" %>
        <div class="card-body">
            <h5 class="card-title">みんなの遊びを見る</h5>
             <p>ユーザーが投稿した遊びを見ることができます</p>
            <%= link_to '一覧へ', plays_path,class:"btn btn-primary"%>
        </div>
    </div>
</div>
 <h1 class= "text-center mb-5">最近の投稿を見る</h1>
 <div class= row>
   <div class = col-4>
    <h2>キャンプ場投稿</h2>
    <% @camps.each do |camp| %>
        ユーザ名<%= camp.user.name%><br>
        <% if camp.image.attached? %>
　　　　<%= image_tag camp.image,  size: "200x150"%>
　　　　<% else %>
        <%= image_tag 'no_image.jpg', size: "200x150"%>
　　　　<% end %>
　　　　<p><%= camp.name %></p>
    <% end %>
   </div>
      <div class = col-4>
    <h2>キャンプ飯投稿</h2>
    <% @foods.each do |food| %>
     ユーザ名<%= food.user.name%><br>
     <% if food.food_image.attached? %>
  　 <%= image_tag food.food_image, size: "200x150"%>
　   <% else %>
     <%= image_tag 'no_image.jpg', size: "200x150"%>
　   <% end %>
　   <p><%= food.camp_food %></p>
     <% end %>
   </div>
      <div class = col-4>
    <h2>遊び投稿</h2>
     <% @plays.each do |play| %>
     ユーザ名<%= play.user.name%><br>
    <% if play.play_image.attached? %>
  　<%= image_tag play.play_image,size: "200x150"%>
　  <% else %>
    <%= image_tag 'no_image.jpg', size: "200x150"%>
　  <% end %>
　   <p><%= play.camp_play %></p>
     <% end %>
   </div>
   </div>
   </div>
</div>
