<div class="container">
 <div class="row">
  <div class="col-9 mt-3">
   <div class=" food_count col justify-content-end h2">
   <%= render 'food_comments/count', food: @food %>
   <%= render 'food_favorites/count', food: @food %>
    </div>
  <h2 class="h2 mt-5"><%= @food.camp_food%></h2>
  </div>
     <div class="col-2 text-center pt-4">
   <% if @food.user.profile_image.attached? %>
   <%= image_tag @food.user.profile_image, size: "100x100",class: "rounded-circle"%>
   <% else %>
   <%= image_tag 'no_image', size: "100x100" %>
   <% end %><br>
   <p class="text-center" >ユーザー：<%= @food.user.name%></p>
   </div>
 </div>
 <div class="row justify-content-center mb-3">
  <div class=col-9>
   <div class=" btn btn-outline-dark text-center p-1 mr-3 disabled">
    <%= @food.food_level %>
   </div>
   <div class=" btn btn-outline-dark p-1 text-center disabled">
    <%= @food.food_time%>
   </div>
   <div class= "btn btn-sm btn-danger ml-3"> 
    <%= link_to "削除", food_path(@food), method: :delete, class: "text-white" %>
   </div>
  </div>
  <div id ="food_favorite_buttons_<%= @food.id %>">
  <%= render 'food_favorites/favorite-btn', food: @food %>
 </div>
 </div>
 <div class="row justify-content-center">
  <% if @food.food_image.attached? %>
  <%= image_tag @food.food_image, class:"w-75"%>
  <% else %>
  <%= image_tag 'no_image',class:"w-75"%>
  <% end %>
 </div>
 <div class="row justify-content-center mt-3">
  <div class=col-11>
   <div class=h5>
    <p>ポイント</p>
    <%=@food.food_introduction%>
   </div>
  </div>
 </div>
  <h2 class="text-center pt-3 mb-3">みんなからのコメント</h2>
  <div id= "foods">
  <%= render 'food_comments/index', food: @food %>
  </div>
  <div class="form-group row mt-3">
  <%= render 'food_comments/form', food: @food, food_comment: @food_comment %>
 </div>
</div>
  
