<!DOCTYPE html>
<html>
  <head>
    <title>SoloCamp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
<header>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="/assets/logo.png" alt="" width="100" height="100" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav justify-content-end">
      <% if user_signed_in? %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete,class:"nav-link" %>
      <%= link_to 'キャン活を投稿', new_camp_path,class:"nav-link" %>
      <%= link_to 'キャンプ飯を投稿', new_food_path,class:"nav-link" %>
      <%= link_to 'みんなのキャンプ飯', foods_path,class:"nav-link" %>
      <%= link_to 'みんなのキャン活', camps_path,class:"nav-link" %>
      <%= link_to 'マイページ', user_path(current_user),class:"nav-link" %>
      <% else %>
      <%= link_to "新規登録", new_user_registration_path,class:"nav-link"  %>
      <%= link_to "ログイン", new_user_session_path,class:"nav-link" %>
    </div>
    <% end %>
  </div>
</nav>
</header>
    <%= yield %>
  </body>
</html>